{% extends "base.html" %}
{# Chúng ta sẽ dùng thư viện flask-bootstrap sau để render form đẹp hơn #}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>{{ title }}</h2>
            <form method="POST" novalidate>
                {{ form.hidden_tag() }} <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", size=32) }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <small><a href="{{ url_for('auth.reset_password_request') }}">Quên mật khẩu?</a></small>
                </div>
                
                <div class="mb-3 form-check">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
                
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <p>Chưa có tài khoản? <a href="{{ url_for('auth.register') }}">Đăng ký ngay!</a></p>
        </div>
    </div>
{% endblock %}